.modal {
  background: #b2d4d3;
  border-radius: 10px;
  margin: 1.75rem auto;
  max-width: 400px;
  padding: 2rem;
  font-weight: 100;

  z-index: 100;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.close-modal {
  background-color: #dc0e0e;
  color: #fff;
  height: 20px;

  cursor: pointer;
  transition: 0.3s;
  opacity: 0.6;
}

.close-modal:hover {
  transform: scale(1.1);
  opacity: 1;
}

.modalSection {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.modalButton,
.buttonDefault,
.btn__primary {
  background: #4cbf6a;
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0.3rem 1rem;
  transition: 0.3s;
  margin-top: 2rem;
}

.modalButton:hover,
.buttonDefault:hover,
.btn__primary:hover {
  background: #007922;
  color: #fff;
  transform: scale(1.1);
}

.buttonDefault {
  margin-left: 1rem;
}
