.modalOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;
}

.modalWrapper {
  height: 100%;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.modal {
  background: #b2d4d3;
  border-radius: 10px;
  margin: 1.75rem auto;
  max-width: 400px;
  padding: 2rem;
  font-weight: 100;
  position: relative;
  z-index: 100;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.modalCloseButton {
  background-color: #dc0e0e;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  opacity: 0.6;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.modalCloseButton:hover {
  transform: scale(1.1);
  opacity: 1;
}

.modalSection {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.modalButton,
.buttonDefault {
  background: #4cbf6a;
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0.3rem 1rem;
  transition: 0.3s;
  margin-top: 2rem;
}

.modalButton:hover,
.buttonDefault:hover {
  background: #007922;
  color: #fff;
  transform: scale(1.1);
}

.buttonDefault {
  margin-left: 1rem;
}
